body {
    padding-top: 5rem;
}

a {
    color: crimson;
}

.starter-template {
    padding: 2rem 1.5rem 1em;
    text-align: center;
    margin-bottom: 1em;
}

.starter-template img {
    display: block;
    margin-bottom: 20px;
}

.navbar {
    background-color: #e3f2fd;
}

footer {
    text-align: center;
    color: darkgray;
}

#mapid {
    height: 320px;
    margin-bottom: 20px;
}

.people, .places {
    list-style: none;
    margin:0;
    padding:0;
}

.people {
    margin-bottom: 12px;
}

.people li, .places li {
    color: #4a5e66;
    font-size: 14px;
    margin:0;
    padding:0;
    display: inline;
}

.links {
    padding:0 0 0 18px;
}

.links li {
    color: #4a5e66;
    font-size: 14px;
    margin:0;
    padding:0;
}

.people li:after, .places li:after {
    content: ", ";
}

.people li:first-child:after,
.places li:first-child:after{
    content: " ";
}

.people li:last-child:after,
.places li:last-child:after{
    content: "";
}

.people li.header,
.places li.header {
    font-weight: bold;
    color: #000;
}

dt {
    font-weight: 200;
    text-align: right;
}

dt small {
    color: #ccc;
}

dd {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

dd:last-child {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: none;
}

.map-link {
    font-size: 13px;
    color: #333;
}

#newsletter-signup {
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top:20px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 24px;
}

.video {
    position: relative;
}

.video a {
    color: #fff;
}

.video a:hover .fa {
    opacity: 1;
}

.video .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.video-title {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding:12px;
}
