body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar {
    background-color: #e3f2fd;
}

footer {
    text-align: center;
    color: darkgray;
}